@import "../../App.scss";

.contact {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  gap: 100px;

  @include mobile {
    flex-direction: column;
    gap: 50px;
  }

  .information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }
  }
  h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;

    @include mobile {
      font-size: 2.5rem;
      margin-bottom: 0px;
    }
  }
  h5 {
    font-size: 1.4rem;

    @include mobile {
      font-size: 1.3rem;
    }
  }
  p {
    font-size: 1rem;
    color: orange;

    @include mobile {
      font-size: 1.1rem;
    }
  }
  .contact-form {
    width: 100%;
    max-width: 500px;
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label {
        font-size: 1.2rem;
        margin-bottom: 5px;
      }
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        background-color: transparent;
        color: #fff;
      }
    }

    textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      font-size: 1rem;
      resize: none;
      background-color: transparent;
      color: #fff;
    }
    .submit-btn {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: orange;
      color: #000;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .error {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
